:root{
  --lis: #F0EFE8;
  --lac: #818492;
  --mbc: #A08A8C;
  --dac: #6F7D84;
  --das: #1A1516;
 }

body {    
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif;
}

.hide {
  display: none;
}

h1 {
  color: #F0EFE8
}

form {
  background: var(--dac);
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}

label {
  width:110px;
  clear: left;
  text-align: right;
  padding-right:10px;
}

label {
  float:left;
}

textarea{
  width: 90%;
  height: 125px;
  padding: 5px;
  margin-bottom: 10px;
}

input {

  padding: 7px;
  margin-bottom: 15px;
}

#displayImage {
  width: 275px;
  height: 211px;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
}

#thumbnail {
  width: 150px;
  height: 117px;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  -webkit-border-radius: 25px;
  border-radius: 10px;
  float: left;
}

#projectBox {
  background: var(--dac);
  padding: 20px;
  margin: 20px 5px;
  border-radius: 10px;
  max-width: 550px;
}

/* Search bar CSS */
#searchContainer {
  display: flex;
  top: 10px;
  width: 100%;
  margin-top: 10px;
  z-index: 1000;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#search {
  width: 50%;
  border-radius: 5px;
  text-align: center;
  border: 1px solid transparent;
}

.searchBox {
  width: 100%;
  margin-top: 12.5px;
}

.resultBox {
  width: 50%;
  position: absolute;
  left: 25%;
  z-index: 1000;
}

.result {
  margin-top: 1px;
  transition: .1s ease-out;
  background-color: var(--mbc);
  text-decoration: none;
  color: var(--lis);
  border-radius: 5px;
}

.result:hover {
  background-color: var(--das);
  transition: .1s ease-in;
}

/* Button styling */
.btn{
  
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 12px 20px;
  margin: 10px 15px;
  color: var(--dac);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-success{  
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 12px 20px;
    margin: 10px 15px;
    color: var(--lis);
    background-color: #65a462;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-edit{
  background-color: #fcb035;

}

.dangerBtn{
  background-color: rgb(244, 67, 54);
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 12px 30px;
  margin: 10px 1px;
  color: var(--lis);
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn-success:hover, .dangerBtn:hover {
  cursor: pointer;
}

/* General container CSS */
.container {
text-align: center;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.centerContent {
margin: 5px;
text-align: center;
}

.content {
flex-wrap: wrap;
text-align: center;
/*border: 1px solid red;*/
}

/* Image CSS */
#imgInput {
transition: .20s ease-out;
width: 100%;
margin-bottom: 15px;
}

#imgInput:hover {
opacity: 80%;
transition: .20s ease-in;
}

.loader {
  color: #FFF;
  position: relative;
  display: inline-block;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  letter-spacing: 4px;
  box-sizing: border-box;
}

.loader::before {
  content: '';  
  position: absolute;
  right: 70px;
  bottom: 10px;
  height: 28px;
  width: 5.15px;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader1 1s linear infinite alternate;
}

.loader::after {
  content: '';  
  width: 10px;
  height: 10px;
  position: absolute;
  left: 125px;
  top: 2px;
  border-radius: 50%;
  background: red;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

body{
  background: var(--das);

}

/* Homepage table CSS */
table {
  border-color: grey;
  background: var(--lis);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  width: 75%;
  max-width: 75%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid;
  padding: 5px;
}

td{
  padding: 4px;
}

a:link{
  color: var(--lac);
  text-decoration: none;
}

a:visited{
  color: var(--das);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

li {
  padding: 0;
  list-style-type: none;
}

#linkContainer {
  margin-bottom: 10px;
}

/* Web logo CSS */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
}

.header {
  font-family: 'Pacifico', cursive;
  padding-right: 10px;
  color: var(--das);
  font-size:x-large;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 1px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.noStyle {
  text-decoration: none;
  color: black;
}

.linkStyle {
  text-decoration: none;
  color: black;
}

@keyframes animloader {
  0% {
    transform: translate(0px, 0px) scaleX(1);
  }
  14% {
    transform: translate(-12px, -16px) scaleX(1.05);
  }
  28% {
    transform: translate(-27px, -28px) scaleX(1.07);
  }
  42% {
    transform: translate(-46px, -35px) scaleX(1.1);
  }
  57% {
    transform: translate(-70px, -37px) scaleX(1.1);
  }
  71% {
    transform: translate(-94px, -32px) scaleX(1.07);
  }
  85% {
    transform: translate(-111px, -22px) scaleX(1.05);
  }
  100% {
    transform: translate(-125px, -9px) scaleX(1);
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 0 -6px, -122.9px -8px;
  }
  25%, 75% {
    box-shadow: 0 0px, -122.9px -8px;
  }
  100% {
    box-shadow: 0 0px, -122.9px -16px;
  }
}

