body {    
    margin: 0 !important;
    padding: 0 !important;
}

#displayImage {
    width: 275px;
    height: 211px;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
}